# 合并的区服第一个为主区, dbNames必须是多个, dbHosts(port,password)可以不为多个, 当为一个时表示所有的数据库的用户名密码等都一样
dbNames=game_9998,game_9999

#hosts
dbHosts=192.168.10.147

#port
dbPorts=3306

#username 用户名
dbUsernames=remote_user

#passwords 密码.
dbPasswords=SecurePass123